build/
workloads/
results/

index-microbench/workloads
index-microbench/ycsb-0.11.0.tar.gz
index-microbench/YCSB
index-microbench/workload_config.inp

CrashTest/build
CrashTest/results

P-ART/build
P-BwTree/build
P-Masstree/build
P-CLHT/build
P-HOT/build

pmdk

*tags
*cscope.out
*cscope.files
